<!doctype html>
<html class="no-js" lang="en" data-ng-app>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>REST API testing tool</title>
	<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet'
	      type='text/css'>

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/vendor/foundation/foundation-flex.css">
	<link rel="stylesheet" href="/styles/app.css">
	<!--STYLES END-->
</head>
<body>

<div class="row">
	<div class="column no-padding" id="content" data-sticky-container>
		<header class="sticky" data-sticky data-options="marginTop:0;" style="width:100%">
			<nav id="main-menu" class="row title-bar">
				<div class="column">
					<% if (breadcrumbs) { %>
					<ul class="menu">
						<li class="menu-text">
							<ul class="breadcrumbs">
								<% for (breadcrumbPart in breadcrumbs) { %>
								<% if (breadcrumbs[breadcrumbPart]) { %>
								<li><a href="<%= breadcrumbs[breadcrumbPart] %>"><%= breadcrumbPart %></a></li>
								<% } else { %>
								<li><%= breadcrumbPart %></li>
								<% } %>
								<% } %>
							</ul>
						</li>
					</ul>
					<% } %>

				</div>

				<% if (!notifications && !search) { %>
				<div class="column shrink align-right">
					<ul class="menu dropdown" data-disable-hover="true" data-dropdown-menu>
						<li>
							<% if (search) { %>
							<form class="search">
								<label>
									<input type="search" class="quick-search">
								</label>
							</form>
							<% } %>
						</li>
						<li class="separator"></li>
						<% if (notifications) { %>
						<li>
							<button class="fi-sound"></button>
							<ul class="menu">
								<li><a href="test.html" class="failure">Test Address failed</a></li>
							</ul>
						</li>
						<% } %>

						<li class="separator"></li>
					</ul>
				</div>
				<% } %>
			</nav>
		</header>

		<div class="header-spacer"></div>

		<div class="row">
			<%= req.flash ('success') %>
			<%= req.flash ('error') %>
		</div>

		<!--<div class="content row">-->
		<%- body %>
		<!--</div>-->

	</div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/angular/angular.min.js"></script>
<script src="/js/dependencies/angular-ui-router/angular-ui-router.min.js"></script>
<script src="/js/dependencies/foundation/foundation.js"></script>
<script src="/js/dependencies/foundation/vendor/what-input.min.js"></script>
<script src="/js/dependencies/underscore-min.js"></script>
<script src="/js/rest-api-tester/_init.js"></script>
<script src="/js/rest-api-tester/services/assertions-service.js"></script>
<script src="/js/rest-api-tester/services/environments-service.js"></script>
<script src="/js/rest-api-tester/services/headers-service.js"></script>
<script src="/js/rest-api-tester/services/login-service.js"></script>
<script src="/js/rest-api-tester/services/projects-service.js"></script>
<script src="/js/rest-api-tester/services/registration-service.js"></script>
<script src="/js/rest-api-tester/services/requests-service.js"></script>
<script src="/js/rest-api-tester/services/tests-service.js"></script>
<script src="/js/app.js"></script>
<script src="/js/rest-api-tester/controllers/assertions-controller.js"></script>
<script src="/js/rest-api-tester/controllers/dashboard-controller.js"></script>
<script src="/js/rest-api-tester/controllers/headers-controller.js"></script>
<script src="/js/rest-api-tester/controllers/logged-user-controller.js"></script>
<script src="/js/rest-api-tester/controllers/login-controller.js"></script>
<script src="/js/rest-api-tester/controllers/notifications-controller.js"></script>
<script src="/js/rest-api-tester/controllers/projects-controller.js"></script>
<script src="/js/rest-api-tester/controllers/registration-controller.js"></script>
<script src="/js/rest-api-tester/controllers/requests-controller.js"></script>
<script src="/js/rest-api-tester/controllers/tests-controller.js"></script>
<script src="/js/rest-api-tester/controllers/tests-results-controller.js"></script>
<!--SCRIPTS END-->
</body>
</html>
